<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bms.mapper.SysMenuMapper">

	<select id="findMenuByRole" parameterType="SysRole" resultType="SysMenu">
		select sm.MENU_ID menuID,
		sm.PARENT_ID parentID,
		sm.MENU_NAME menuName,
		sm.LINK_SOURCE linkSource,
		sm.CREATE_USER createUser,
		sm.CREATE_DATE createDate,
		sm.MODIFY_USER modifyUser,
		sm.MODIFY_DATE modifyDate
		from SYS_MENU sm, SYS_ROLE_MENU srm
		where sm.MENU_ID = srm.MENU_ID and srm.ROLE_ID = #{roleID}
	</select>
	
</mapper> 
